<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>ThriftyUStore Home</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', 'data-turbolinks-track': 'reload' %>
  <style>
      /* Custom styles go here */
      body {
          background-color: #F5F5F5;
          color: #ffffff; /* White text */
      }
      header{
          padding: 0px;
      }
      footer{
          padding: 0px;
      }

      .hero {
          background-color: #6e6e6e;
          padding-top: 10px;
      }
      .hero h1,
      .hero p,


      .footer span {
          color: #ffffff; /* White text */
      }

      .footer {

          bottom: 0;
          width: 100%;
          background-color: #393939; /* Dark footer background */
      }

      .btn-outline-light {
          border-color: #ffffff; /* White border for outline buttons */
          color: #ffffff; /* White text for outline buttons */
      }

      .btn-light {
          background-color: #ffffff; /* White background for solid buttons */
          color: #393939; /* Dark text for solid buttons */
      }

      .btn-light:hover,
      .btn-outline-light:hover {
          background-color: #6e6e6e; /* Dark background on hover */
          color: #ffffff; /* White text on hover */
      }
  </style>
</head>
<body>


  <!-- Hero Section -->
  <section class="hero py-5 entry">
    <h1 class="display-4 text-center">Welcome to ThriftUStore</h1>
    <p class="lead text-center">
      Your one-stop marketplace for buying and selling among international students. Discover a community that saves together.
    </p>
    <div class="text-center mt-4">
      <%= link_to "Shop Now", items_path, class: "btn btn-lg btn-light" %>
    </div>
  </section>

  <section class="mission py-5">
    <h1 class="display-4 text-center">Our Missions</h1>
    <p class="lead text-center">
      Our project aims to address the challenges faced by international students when it comes to buying and selling used goods.
    </p>

    <p class="lead text-center">
      Our application aims to provide a platform for international students to find people in a geologically convenient location to trade their goods at a fair price as well as a place where they can look for the stuff they need.
    </p>

    <p class="lead text-center">
      This improves the distribution of resources and results in a win-win situation for both buyers and sellers.
    </p>
  </section>


  <section class="hero py-5 pain-points">
    <h1 class="display-4 text-center">Pain points</h1>
    <p class="lead text-center">
      Out website addresses the following pain points:
    </p>
    <ul>
      <li>International students face a lot of pain points when trading used goods.</li>
      <li>Current existing solutions such as the Facebook marketplace or WeChat groups don’t provide a separate and complete feature.</li>
      <li>Often, these solutions lack ways to contact people who can sell or buy in a timely manner.</li>
      <li>Due to inherent cultural differences and language barriers, international students struggle to find people they can trust.</li>
      <li>This causes frustration and inconvenience for international students in a new environment.</li>
      <li>Our project aims to solve these pain points by providing a solution that considers the specific needs of this user group.</li>
    </ul>
  </section>


  <!-- Footer -->

  <footer class="footer py-3 text-white text-center">

      <span>Copyright © <%= Time.now.year %> ThriftUStore. All rights reserved.</span>
      <!-- Potential space for social media links/icons -->

  </footer>

<!-- </div> -->

</body>
</html>
