// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Styles for homepage */
/* app/assets/stylesheets/home.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background-color: #333;
  color: white;
}

header h1 {
  margin: 0;
  text-align: center;
}

nav {
  text-align: center;
  margin-top: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.nav-link:hover {
  color: #ddd;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button:hover {
  color: #ddd;
}

.view-items-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.view-items-button:hover {
  background-color: white;
  color: black;
}

main {
  padding: 20px 0;
}

.about-section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.mission{
  color:#333
}

.mission h1, .hero h1{
  margin-bottom: 30px;
}

.mission p, .hero p{
  padding-left: 7%;
  padding-right: 7%;
}

.mission p{
  margin-bottom: 20px;
}

.pain-points  ul {
  font-size: 20px;
  width: 55%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the list horizontally */
  text-align: left; /* Align the list items to the left */
  padding: 0;
}

.pain-points  li{
  margin-bottom: 10px;
}

.pain-points p{
  font-size: 20px;
  margin-bottom: 30px;
}

