
.item-card {
    width: 250px;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-image {
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    background-position: center; /* Centers the image */
    background-size: cover;      /* Ensures the image covers the whole container */
}

/* You can use inline styles or a separate CSS class to set the background-image for each item. */
.item-card:first-child .item-image {
    background-image: url('path_to_first_image.jpg');
}

.item-card:nth-child(2) .item-image {
    background-image: url('path_to_second_image.jpg');
}


#sort_buttons .btn:hover{
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
}

.card :hover{
    background-color: white;
}

.card.item-card {

    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.card.item-card:hover {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.owner-details {

    top: 100%;
    right: 0;
}

.owner-details strong {
    margin-right: 5px;
}


.owner-name{
    color: blue !important;
}

.owner-name:hover{
    background-color: white;
}

.seller-rating {
    margin-top: 10px;
    font-size: 15px; /* Adjust the font size */
    color: #333; /* Text color */
}

.item-title{
    margin-top: -20px;
}

.item-detail-section {

    font-size: 20px;
    background-color: #f8f9fa; /* Light background color */
    padding: 15px; /* Padding around the content */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */
}

.item-detail-section p{
    margin-top: 10px;
    font-size: 15px;
}


.item-price-section {
    font-size: 20px;
    background-color: #f8f9fa; /* Light background color */
    padding: 15px; /* Padding around the content */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically in the center */
}

.item-price-section p{
    padding-top: 15px;
    font-size: 20px;
}

.price-tag {
    margin-right: 10px; /* Right margin between price tag and price value */
    font-weight: bold; /* Make the price tag bold, adjust as needed */
}

.new-comment-form-container {
    background-color: #f8f9fa; /* Light background color */
    padding: 15px; /* Padding around the content */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */
}

.new-comment-form-title {
    font-size: 20px; /* Adjust the font size */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px; /* Bottom margin */
}



/* Styles for "Submit Rating" form */
.submit-rating-form {
    margin-top: 10px;

}

.submit-rating-form input {
    margin-right: 5px;
}

.back-button{
    font-size: 20px !important;
    margin-bottom: 20px;
    color: white !important;
}

.mark-as-sold-section {
    font-size: 20px;
    background-color: #f8f9fa; /* Light background color */
    padding: 15px; /* Padding around the content */
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 5px; /* Rounded corners */

}

.edit_item label {
    display: inline-flex; /* Display labels on a new line */
    margin-bottom: 5px; /* Bottom margin for labels */
    padding-top: 10px;
}

.edit_item input[type="text"],
.edit_item input[type="submit"] {
    width: 100%; /* Make text field and submit button full width */
    margin-bottom: 10px; /* Bottom margin for text field and button */
}

.edit_item input[type="submit"] {
    background-color: #28a745; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px; /* Adjust the padding */
    cursor: pointer; /* Add pointer cursor on hover */
}

.edit_item input[type="submit"]:hover {
    background-color: #218838; /* Button background color on hover */
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
}

.btn-group-vertical .btn {

    display: block;
    margin-bottom: 8px !important; /* Adjust the margin between buttons */
}

.item-rating-section{
    margin-bottom: 30px;
}

