// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* app/assets/stylesheets/profile.css */

.profile-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.profile-content {
  margin-top: 20px;
  text-align: center;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-details {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
}

.profile-details tr:hover {
  background-color: #f5f5f5;
}

.profile-details th, .profile-details td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd; /* light grey */
}

.profile-details th {
  font-weight: bold;
  background-color: #f3f3f3; /* very light grey */
}

.edit-profile-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Adjust to match your site's theme */

  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.edit-profile-button:hover {
  background-color: #0056b3; /* Darker blue */
}


